.git
.github
.cursor
.claude
.idea
.vscode
.vercel
.env
.env.*
!.env.example
database/*.sqlite
database/*.sqlite-journal
node_modules
tests
vendor
public/hot
public/storage
public/build
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
*.md
phpunit.xml
auth.json
